*.xcuserdata
*.xcuserstate
*.pbxproj
Clone Pilot*.pbxproj
Clone Pilot/Clone Pilot.xcodeproj/project.pbxproj
Clone Pilot/Clone Pilot.xcodeproj/project.xcworkspace/xcuserdata/X3N0.xcuserdatad/UserInterfaceState.xcuserstate
